* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* navbar */
.navbar {
    background-color: rgb(239,233,235);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 22px;
}

.navbar-logo {
    color: black;
    display: flex;
    align-items: center;
}
.navbar-logo .h1 {
    color: rgb(197,56,97);
}
.navbar-logo .h2 {
    color: rgb(196,195,73);
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 100%;
}

.navbar-menu {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    text-decoration: none;
}

.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0px 20px;
    text-transform: uppercase;
}

.navbar-item:hover {
    cursor: pointer;
    background-color: rgb(199, 199, 199);
    padding: 8px 22px;
    border-radius: 6px;
}

@media screen and (max-width: 700px) {
    .navbar-toggle .bar {
        background: black;
        width: 25px;
        height: 3px;
        margin: 6px auto;
        display: block;
        cursor: pointer;
        transition: all 0.3s all ease-in-out;
    }

    #mobile-menu {
        position: absolute;
        top: 2%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar-logo {
        padding-left: 10px;
    }

    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 70px;
        width: 100%;
        padding: 0px;
        z-index: 1;
    }

    .navbar-menu {
        background-color: rgb(239,233,235);
        display: grid;
        grid-template-columns: auto;
        position: absolute;
        top: -1000px;
        opacity: 0;
        width: 100%;
        height: 400px;
        z-index: -1;
        transition: all 0.3s ease;
    }
    .navbar-menu.active {
        background-color: rgb(239,233,235);
        top: 10%;
        opacity: 1;
        transition: all 1.3s ease;
        height: 400px;
        opacity: 1;
        z-index: 99;
    }

    .navbar-item {
        display: table;
        text-align: center;
        text-align: center;
        width: 100%;
        padding: 0px 20px;
        height: 60px;
    }
    .navbar-item:hover {
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 30px;
        border-radius: 0px;
        margin: 0px;
    }
}





/* body */
.image-container {
    height: 800px;
    background: url(images/icecream4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-container {
    background-color: rgb(239,233,235);
    padding: 40px 10px;
    display: flex;
    justify-content: space-around;
}

.text-container h2 {
    color: rgb(205,148,163);
}
@media screen and (max-width:900px) {
    .text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .img2 {
        margin-top: 30px;
    }
}



/* footer */
.footer {
    background-color: rgb(195,194,26);
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    flex-wrap: wrap;
}
.foor-item {
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    flex-wrap: wrap;
    margin: 20px;
}
i {
    padding: 10px;
    font-size: 28px;
}
